@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  box-sizing: border-box;
  font-size: calc(-2px + 1vw);
  color: white;
  font-family: "Pixelify Sans", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #272727ed;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr;
  grid-template-rows: 4fr;
}

.canvas {
  grid-row: 1/3;
  grid-column: 1/3;
  margin-top: 25px;
  /* width: 100%; */
  /* height: 450px; */
  object-fit: contain;
  background: white;
  margin: 0 auto;
  border: 2px solid #989696c6;
}

.tools {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circular-menu {
  width: 220px;
  height: 220px;
  position: relative;
  border-radius: 50%;
  background: #4775a1;
  background: radial-gradient(
    circle,
    rgba(71, 117, 161, 0.5) 3%,
    rgba(64, 130, 163, 1) 50%,
    rgba(27, 189, 222, 1) 100%
  );
  overflow: hidden;
}

.circular-menu li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.circular-menu li .item {
  width: 110px;
  height: 110px;
  border: 0.5px solid #00000054;
  margin-top: -110px;
  transform: rotate(-30deg) skew(-30deg);
  transform-origin: 0 100%;
}

.circular-menu li:nth-child(2) .item {
  transform: rotate(30deg) skew(-30deg);
}

.circular-menu li:nth-child(3) .item {
  transform: rotate(90deg) skew(-30deg);
}

.circular-menu li:nth-child(4) .item {
  transform: rotate(150deg) skew(-30deg);
}

.circular-menu li:nth-child(5) .item {
  transform: rotate(210deg) skew(-30deg);
}

.circular-menu li:nth-child(6) .item {
  transform: rotate(270deg) skew(-30deg);
}

.circular-menu .tool .btn_tool {
  position: absolute;
  width: 26px;
  height: 26px;
  display: inline-block;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.circular-menu li:nth-child(1) .btn_tool {
  background-image: url(icons/pencil.svg);
  transform: rotateZ(30deg) translateY(-80px) rotateZ(-30deg);
}

.circular-menu li:nth-child(2) .btn_tool {
  background-image: url(icons/fill.svg);
  transform: rotateZ(90deg) translateY(-80px) rotateZ(-90deg);
}

.circular-menu li:nth-child(3) .btn_tool {
  background-image: url(icons/rectangle.svg);
  transform: rotateZ(150deg) translateY(-80px) rotateZ(-150deg);
}

.circular-menu li:nth-child(4) .btn_tool {
  background-image: url(icons/eraser.svg);
  transform: rotateZ(210deg) translateY(-80px) rotateZ(-210deg);
}

.circular-menu li:nth-child(5) .btn_tool {
  background-image: url(icons/circle.svg);
  transform: rotateZ(270deg) translateY(-80px) rotateZ(-270deg);
}

.circular-menu li:nth-child(6) .btn_tool {
  background-image: url(icons/line.svg);
  transform: rotateZ(330deg) translateY(-80px) rotateZ(-330deg);
}

.circular-menu .tool:hover .item {
  background-color: rgb(110, 102, 129);
  opacity: 0.5;
  transition: opacity 0.55s ease-in-out 0.3s;
}

.circular-menu .tool.active .item {
  background-color: #1754d8;
}

.circular-menu::after {
  content: "";
  width: 110px;
  height: 110px;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
  background-color: #272727;
  position: absolute;
  border-radius: 50%;
}

.actions-menu {
  border: 2px solid #ffffff8c;
  padding: 8px;
  background-color: #ffffff26;
  width: 300px;
  height: 40px;
  border-radius: 18px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.actions-menu.dropup {
  position: relative;
  display: inline-block;
}

.dropup-menu {
  display: none;
  position: absolute;
  left: 0;
  top: -17em;
  min-width: 300px;
  background-color: #272727;
  font-size: 1.5em;
}

.dropup:hover .dropup-menu {
  display: block;
}

.dropup-menu > div {
  display: inline-flex;
  align-items: flex-start;
  width: 15px;
  height: 15px;
}

.color-palette {
  width: 100%;
  height: 20px;
  background: linear-gradient(
    to right,
    #ec02fc 0%,
    #a183fe 25%,
    #15fdff 50%,
    #d0fd40 75%,
    #ff8831 100%
  );
  border-radius: 8px;
}

.action button {
  padding: 10px;
}

.range {
  accent-color: #1a72b1;
}

@media (max-width: 800px) {
  .tools {
    flex-direction: column;
    gap: 10px;
  }
  :root {
    font-size: 10px;
  }
}
